name: TestBuild

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: "Run unit tests"
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        go: ["1.26.0"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - uses: WillAbides/setup-go-faster@v1.14.0
      with:
        go-version: '*'

    - run: "go test ./..."

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set env vars
      run: |
        echo "CGO_ENABLED=0" >> $GITHUB_ENV

    - name: setup go
      uses: WillAbides/setup-go-faster@v1.14.0
      with:
        go-version: "*"

    - name: checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Build
      run: |
        go env -w GOFLAGS=-trimpath
        go build -v ./...

    - name: Test
      run: go test -v ./...
